@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Prata & display=swap'); // logo
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); // logo
@import './vars';
body {
    color: black;
    font-family: 'Montserrat', sans-serif;
    
    font-size: 18px;
    font-weight: 600;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    
    &::before{
        content: "";
        background-image: url('/src/1 header/accaro.jpg') ;
        display: block;
        z-index: 10;
        position: absolute;
        width: 2117px;  
        height: 752px;
        left: 50%;
        top: 60px;
        
        transform: translateX(-50%);
        background-size: cover;
       

    }
}
.none{
    display: none !important;
}

.container {
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px; // так как указали ширинут, то там будут лишние падинги, то  мы их уменьшам
}


.logo{
    img{
        max-width: 80px;
        max-height: auto;
    }
}

.btn, .btn::visited, .btn::link{
    color: $white;
}

.btn{
    border-radius: 5px;
    padding: 10px;
    color: white;
    transition: 0.5s;
}

.btn_red{
    background-color:$accent;
    border: 1px solid $accent;
}

.btn_red:hover{
    background: rgba(0,0,0,0);
	color: $accent;
	box-shadow: inset 0 0 0 3px $accent;
    border: 1px solid $accent;
    
}


.btn_black{
    background-color: $myblack;
    color: $white;
    border: 1px solid $myblack;
}


.btn_black:hover{
   background: $white;
	color: $myblack;
	box-shadow: inset 0 0 0 2px $myblack;
    border: 1px solid $myblack;

}

h1{
    text-transform: uppercase;
    
    font-weight: 600;
    line-height: 45px;
    font-size: 45px;
    span{
        color: $accent;
      
        font-size: 80px;
    }
}

.description{
    margin: 0 auto;
    max-width: 875px;
    text-align: center;
    p {
        margin: 25px 0 0 0 ;
        line-height: 27px;
    }
}

.icon{
    width: 190px;
    justify-content: space-between;
}

.logo{
    img{
        width: 50px;
        height: auto;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    .logo-and {
        color: $accent;
        color: #E70E53;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
        
    }
    .logo-name {
        font-family: 'Prata', serif;
        font-size: 40px ;
        font-weight: 400;
    }

   
}