@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import './vars';
body {
    color: black;
    font-family: 'Montserrat', sans-serif;
    //font-family: 'Ysabeau Office', sans-serif;
    font-size: 18px;
    font-weight: 600;

}
.none{
    display: none !important;
}

.container {
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px; // так как указали ширинут, то там будут лишние падинги, то  мы их уменьшам
}
section{
    margin: 50px 0 0 0;
}

.logo{
    img{
        max-width: 80px;
        max-height: auto;
    }
}

a, a:link, a:visited{
    color: black;
      
}

.btn{
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.btn_red{
    background-color:$accent;
}

.btn_red:hover{
    background: rgba(0,0,0,0);
	color: $accent;
	box-shadow: inset 0 0 0 3px $accent;
    border: 1px solid $accent;
    transition: all 0.5s ease-in-out;

}


.btn_black{
    background-color: $myblack;
}


.btn_black:hover{
    background: rgba(0,0,0,0);
	color: $myblack;
	box-shadow: inset 0 0 0 1px $myblack;
    border: 0.5px solid $myblack;
    transition: all 0.5s ease-in-out;
}

h1{
    text-transform: uppercase;
    
    font-weight: 600;
    line-height: 45px;
    font-size: 45px;
    span{
        color: $accent;
      
        font-size: 80px;
    }
}

.description{
    margin: 0 auto;
    max-width: 875px;
    text-align: center;
    p {
        margin: 25px 0 0 0 ;
        line-height: 27px;
    }
}