.section-acquaintance{
    padding: 50px 0;
    position: relative;
    &::after{
        content: "";
        z-index: 10;
        background: url("/src/3 acquaintance/decorLine.png");
        width: 100%;
        height: 100%;
        position: absolute;
        top: 40%;
        left: 50%;
        z-index: 15;
        background-repeat: no-repeat;
        text-align: center;
        transform: translateX(-50%);
    }
}
.acquaintance__img {
    
    margin: 114px 0 300px 0; /////////////
    text-align: center;

   img{
    display: inline-block;
    }
    
   
}           

.acquaintance__img-geometry {
    position: relative;
    z-index: 10;
   opacity: 0.2;
}
.acquaintance__img-person {
    width: 550/1636 * 100%;
    height: 700/1585 * 100%;
    // width: 100%;
    // height: 100%;
    z-index: 20;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 45%;
}