.section-acquaintance{
    padding: 50px 0;
    position: relative;
   
}



.acquaintance__img {
    position: relative;
   
    height: 1000px;
   img{
    display: inline-block;
    }
    
   
}           

.acquaintance__img-geometry {
    position: absolute;
    height: 90%;
    bottom: 0;
    width: auto;
    z-index: 10;
    opacity: 0.1;
    left: 50%;
    transform: translateX(-50%);
}
.acquaintance__img-person {
    position: absolute;
    height: 80%;
    width: auto;
    z-index: 20;
    left: 50%;
    transform: translateX(-50%);
}

.acquaintance__img-line{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 70%;
    width: auto;
    opacity: 0.3;
    z-index: 2;

}