.footer {
    margin: 50px 0;
}

.footer-info {
   text-align: center;
   
}

.footer-info__logo{
    margin: 0 0 50px;
}


.footer-info__icon {
    display: inline-flex;
    margin: 0 0 50px;
}
.footer-info__developer {
}