.header__title{
    min-height: 1000px;
    max-width: auto;
    background:  url('/src/1\ header/') 0 0/100% auto no-repeat;
}

.header__top-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 128px;
    padding-bottom: 20px;
}

.header__logo{
    img{
        width: 50px;
        height: auto;
    }
}

.header__menu {
    @media (max-width: 830px) {
        flex-basis: 60%; 
    }
    flex-basis: 40%;
    display: flex;
    justify-content: space-between;
    a:hover{    
        transition: all 0.5s ease-in-out;
        color: $accent;
    }
    .menu-item_active{
        position: relative;
        color: $accent;
    }
    .menu-item_active:after{
        position: absolute;
        content: "";
        height: 2px;
        background-color: $accent;
        width: 100%;
        bottom: -5px;
        left: 0;
        right: 0;
    }
}


