header {
    position: relative;
    z-index: 20;
    padding: 0 52px;
    
}
.header__top-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 126px;
    align-items: center;
    
    
}

.header__logo{
 

}

.header__menu {
    a, a:link, a:visited{
        color: black;
          
    }
    @media (max-width: 830px) {
        flex-basis: 60%; 
    }
    flex-basis: 40%;
    display: flex;
    justify-content: space-between;
    a:hover{    
        transition: all 0.5s ease-in-out;
        color: $accent;
    }
    .menu-item_active{
        position: relative;
        color: $accent;
    }
    .menu-item_active:after{
        position: absolute;
        content: "";
        height: 2px;
        background-color: $accent;
        width: 100%;
        bottom: -5px;
        left: 0;
        right: 0;
    }
}

