
.header__title{
   
    position: relative;
} 
.title_img{
    position: absolute;
    z-index: 10;
    width: auto;  
    height: 75%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25%;
    object-fit: cover;
   
}


.header__title-decor {
    position: absolute;
    bottom: 15%;
    left: 10%;
    width: 50%;
    height: auto;
}
.header__title-aboutMe {
    padding: 0px 80px;
    position: relative;
    z-index: 20;
    display: flex;
   
    margin: 0 auto;
    justify-content: space-between;

   
  
    .header__title-text {
        position: relative;
        z-index: 20;
   
       

        .greeting {
            line-height: 40px;
            font-weight: 600;

            span {
                color: $accent;
            }
        }

        .major {
            font-family: $font_second;
            font-weight: 800;
            line-height: 75px;
            font-size: 60px;
            position: relative;

            img {
                position: absolute;
                bottom: 25px;

            }
        }

        .summer {
            padding-top: 12px;

            width: 476px;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
        }

        .icon-row {
            display: flex;
            padding-top: 35px;

        }



        .header__title-btn {
            margin-top: 35px;
            display: inline-flex;
            box-shadow: 0px 24px 48px 6px rgba(253, 89, 86, 0.08), 0px 12px 24px 6px rgba(253, 89, 86, 0.08);
        }

    }

    .header__title-img {
        display: block;
        align-self: flex-end;
        img {
            width: 100%;
            
        }
    }

}

